* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow-x: hidden;
  position: relative;
  padding: 4em 1em;

  & nav {
    width: 100vw;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    & .navbar {
      width: 100vw;
      max-width: 1200px;
      display: flex;
      gap: 1em;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      position: relative;

      & .link-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        & i {
          color: #fff;
          background-color: #1069e6;
          padding: 7px;
          cursor: pointer;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;

          @media screen and (max-width: 768px) {
            display: none;
          }

          &.dots {
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            background-color: unset;
            color: #1069e6;
          }
        }

        & .user-icon-box {
          background-color: #aaa;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          cursor: pointer;
        }

        & #mobile-links {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1em;
          position: absolute;
          top: calc(100% + 5px);
          right: 3%;
          padding-block: 1em;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          display: none;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

          &.active {
            display: block;
          }

          @media screen and (min-width: 768px) {
            display: none !important;
          }

          & > div {
            padding-inline: 1em;
            width: 100%;
            display: flex;
            gap: 1em;
            justify-content: flex-start;
            align-items: center;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;

            &:hover {
              cursor: pointer;
              background-color: #eee;
            }

            & i {
              border: 1px solid;
              display: block;
            }

            & .mobile-dots {
              width: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  & main {
    margin-inline: auto;
    width: 100vw;
    max-width: 1200px;
    height: 100vh;
    padding: 1em;
    position: relative;

    & .floating-icons {
      position: fixed;
      z-index: 3;
      bottom: 1em;
      right: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      & i {
        background-color: #0029ff;
        color: #fff;
        padding: 10px;
        width: 30px;
        height: 30px;
        display: grid;
        place-content: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;

        &:hover {
          background-color: #1069e6;
          cursor: pointer;
        }
      }
    }

    & header {
      width: 100%;
      padding-left: 20px;

      & .heading-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        & h3 {
          color: #0029ff;
        }

        & button {
          width: max-content;
          background-color: #0029ff;
          color: #fff;
          padding: 1em;
          font-size: 10px;
          border: none;
          outline: none;
          transition: 0.3s ease;
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;

          &:hover {
            cursor: pointer;
            background-color: #1069e6;
          }
        }
      }

      & .description-box {
        max-height: 45px;
        background-color: #e9ecef;
        padding: 1em;
        margin-block: 1em;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        overflow: hidden;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;

        &.active {
          max-height: 130px;
          height: fit-content;

          @media screen and (max-width: 768px) {
            max-height: 250px;
          }

          & .description-heading i {
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
          }
        }

        & .description-heading {
          display: flex;
          gap: 1em;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          & i {
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;
          }
        }

        & p {
          margin-top: 10px;
        }
      }
    }

    & .expandable-description {
      position: fixed;
      z-index: 3;
      top: 4rem;
      left: -270px;
      background-color: #fff;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      overflow: hidden;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;

      &.active {
        left: 0;

        & i {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
        }
      }

      & .heading-box {
        background-color: #000;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 1em;

        & i {
          transition: 0.3s ease;
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;
          cursor: pointer;
        }
      }

      & .asset-list {
        margin: auto;
        width: fit-content;
        padding: 1em 2em;

        & ul li {
          padding-block: 5px;
          cursor: pointer;
          transition: 0.3s ease;
          -webkit-transition: 0.3s ease;
          -moz-transition: 0.3s ease;
          -ms-transition: 0.3s ease;
          -o-transition: 0.3s ease;

          &.active {
            font-weight: 600;
            transform: scale(1.02);
            -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            -ms-transform: scale(1.02);
            -o-transform: scale(1.02);

            @media screen and (max-width: 768px) {
              /* font-weight: 900; */
            }
          }
        }
      }
    }

    & .assets-container {
      padding-left: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5em;

      & .asset {
        border-radius: 10px;
        width: 45%;
        height: fit-content;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        & .asset-heading {
          background-color: #000;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2em;
          padding: 0.5em 1em;
        }

        & .description-box {
          &.active {
            & .description-heading i {
              transform: rotate(-180deg);
              -webkit-transform: rotate(-180deg);
              -moz-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              -o-transform: rotate(-180deg);
            }

            & .detail {
              max-height: 300px;
            }
          }

          & .description-heading {
            cursor: pointer;
            padding: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            border-bottom: 1px solid #aaa;

            & span {
              font-weight: 600;
            }

            & i {
              transition: 0.3s ease;
              -webkit-transition: 0.3s ease;
              -moz-transition: 0.3s ease;
              -ms-transition: 0.3s ease;
              -o-transition: 0.3s ease;
            }
          }

          & .detail {
            max-height: 0;
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            overflow: hidden;

            & iframe {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
